body {
    font-size: 10px;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navigation a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: 300;
    color: #00c498;
    text-align: center;
}
.closebtn{
    font-size: 5.0rem;
}
.user{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.0rem;
    color: #fff;
    text-align: center;
}

.profile_picture {
width: 50px;
height: 50px;
margin: auto;
}

.user span{
    color: #00c498;
}

.hamburger{
    color: #00c498;
    font-size: 2.0rem;
    background: transparent;
    border: none;
    box-shadow: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





#calendar {
    width: 60%;
}